.mdhpDisplay {
    width: 100%; 
    text-align:center;
    padding-top: 20px;

    .mobileScrollzone {
        overflow: scroll;
        width: 100%;
        height: 425px;
        background-color: #343a40;

        .myCanvas {
            height: 1000px;
            width: 1000px;
            position:relative;
            z-index:20;
            background-image: url("/images/milliondollarhomepage.png");
        }
    }

    .green {
        color: green;
    }

    .red {
        color: red;
    }

    #mdhpHover {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px black solid;
        z-index: 999;
        width: 200px;
    }

    .clickShow {
        display: block;
    }

    .clickHide {
        display: none;
    }
}