.pixelpiratenav {
  
  color: white;
  padding: 10px;
//   position: fixed;
  background-color: black;
  width: 100%;

  a {
    margin: 4px;
    color: white;
  }

  .links {
   text-align: right;
   @media screen and (max-width: 350px) { 
        font-size: 12px;
    } 
  }

  .home {
      float: left;
      font-size: 24px;
      font-weight: bold;
  }
}

